.index-desktop2,
.nav {
  display: flex;
  align-items: center;
}
.index-desktop2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  flex-direction: column;
  gap: var(--gap-64);
  line-height: normal;
  letter-spacing: normal;
}
.nav {
  align-self: stretch;
  height: var(--96);
  justify-content: space-between;
  padding: var(--padding-0) var(--padding-52);
  box-sizing: border-box;
  gap: var(--gap-20);
  text-align: left;
  font-size: var(--fs-14);
  color: var(--color-black1);
  font-family: var(--font-roboto);
}
.christopher-murphy4 {
  position: relative;
  line-height: var(--lh-22);
}
.button-group {
  margin: 0;
  gap: var(--8);
  text-align: left;
  font-size: var(--fs-11);
  color: var(--color-black1);
  font-family: var(--font-roboto);
}
.about3,
.button-group,
.text-dropdown {
  display: flex;
  align-items: center;
}
.about3 {
  border-radius: var(--8);
  justify-content: center;
  padding: var(--16);
}
.text-dropdown {
  gap: var(--4);
}
.dropdown-icon,
.work3 {
  position: relative;
  flex-shrink: 0;
}
.work3 {
  line-height: var(--lh-16);
}
.dropdown-icon {
  height: var(--height-4);
  width: 6.7px;
  border-radius: 0.3px;
  display: none;
}
.work5 {
  position: relative;
  line-height: var(--lh-16);
}
.dropdown-icon2 {
  height: var(--height-4);
  width: 6.7px;
  position: relative;
  border-radius: 0.3px;
}
.main-body2 {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-52);
  box-sizing: border-box;
  max-width: 1280px;
}
.content3,
.eyebrow-h2,
.sectiontitle3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content3 {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-64);
  max-width: 100%;
}
.eyebrow-h2,
.sectiontitle3 {
  align-self: stretch;
}
.sectiontitle3 {
  padding: var(--padding-0) 300px var(--padding-0) var(--padding-0);
  gap: var(--24);
  text-align: left;
  font-size: var(--fs-11);
  color: var(--muted);
  font-family: var(--font-roboto);
}
.eyebrow-h2 {
  gap: var(--16);
}
.eyebrow8 {
  width: 374px;
  position: relative;
  letter-spacing: var(--ls-1);
  line-height: var(--lh-16);
  text-transform: uppercase;
  font-weight: 500;
  display: none;
}
.content-metadata,
.h2-header8 {
  align-self: stretch;
  color: var(--body);
}
.h2-header8 {
  position: relative;
  font-size: var(--fs-40);
  line-height: 55px;
  font-family: var(--font-besley);
}
.content-metadata {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--32);
  font-size: var(--fs-14);
}
.content-here {
  align-self: stretch;
  position: relative;
  line-height: var(--lh-22);
  flex-shrink: 0;
}
.metadata {
  width: 374px;
  display: none;
  align-items: flex-start;
  gap: var(--gap-24);
  flex-shrink: 0;
  font-size: var(--fs-11);
  color: var(--muted);
}
.role-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
}
.designer-role {
  position: relative;
  line-height: var(--lh-16);
  color: var(--body);
}
.cards,
.designer-role,
.teams {
  align-self: stretch;
}
.teams {
  position: relative;
  letter-spacing: var(--ls-1);
  line-height: var(--lh-16);
  text-transform: uppercase;
  font-weight: 500;
}
.cards {
  height: 1082px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-24);
}
.index-card7 {
  border-radius: var(--8);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: var(--padding-32);
  text-align: left;
  font-size: var(--fs-14);
  color: var(--color-black2);
  font-family: var(--font-roboto);
}
.photo-content7 {
  width: var(--width-312);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-24);
}
.photo-icon11 {
  align-self: stretch;
  height: var(--height-280);
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.thumbnail-title-body7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm1);
}
.category6 {
  font-size: var(--fs-11);
  letter-spacing: var(--ls-1);
  line-height: var(--lh-16);
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-muted1);
}
.category6,
.description6,
.link6,
.title7 {
  align-self: stretch;
  position: relative;
}
.title7 {
  font-size: var(--fs-22);
  line-height: var(--lh-28);
  font-family: var(--font-besley);
}
.description6,
.link6 {
  line-height: var(--lh-22);
}
.link6 {
  color: var(--color-blue1);
}
.index-card8 {
  border-radius: var(--8);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: var(--padding-32);
  cursor: pointer;
  text-align: left;
  font-size: var(--fs-14);
  color: var(--color-black2);
  font-family: var(--font-roboto);
}
.photo-icon12 {
  align-self: stretch;
  height: var(--height-280);
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.footer3,
.links-group6 {
  display: flex;
  align-items: center;
}
.footer3 {
  width: 100%;
  border-top: 1px solid var(--blue);
  box-sizing: border-box;
  justify-content: space-between;
  padding: var(--96) var(--padding-52);
  gap: var(--gap-20);
  max-width: 1280px;
  text-align: left;
  font-size: var(--fs-11);
  color: var(--color-muted1);
  font-family: var(--font-roboto);
}
.links-group6 {
  gap: var(--gap-32);
}
.christopher-murphy5 {
  position: relative;
  line-height: var(--lh-16);
  color: var(--color-black1);
}
@media screen and (max-width: 1200px) {
  .content3 {
    gap: var(--gap-32);
  }
}
@media screen and (max-width: 450px) {
  .index-desktop2 {
    gap: var(--gap-16);
  }
}
